<launch>

  <group ns="talkerlistener">
    <node pkg="beginner_tutorials" name="talker_node" type="talker"></node>
    <node pkg="beginner_tutorials" name="listener_node" type="listener"></node>
    <node name="record_topics" pkg="rosbag" type="record" args="record -a -o /home/viki/catkin_ws/src/beginner_tutorials/bagfiles/"
      if="$(arg bagon)"/>
  </group>

</launch>